@charset "UTF-8";


.app-footer{                     
    background-color: #CFCFCF;  
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 10px 0;
    height: 60px; 
    }
.copy{                     
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}
.imgsinaptia{ 
    max-height: 75%; width: auto;       
    padding: 0px 20px;
}

.material-half-bg {
  height: 100vh;
  background-color: #750000;
  background-image: url("../assets/fondo%20inicio.jpg"); 
  background-size: cover;
  background-position:center center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}


